APP_NAME=LeaderboardX
APP_VERSION=0.9.0
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ORIGINS=http://localhost:9011

POSTGRES_DB=leaderboardx_stage
POSTGRES_USER=stage_user
POSTGRES_PASSWORD=stage_pass
DATABASE_URL=postgresql+asyncpg://stage_user:stage_pass@postgres-service:5432/leaderboardx_stage
REDIS_URL=redis://redis-service:6379
